---
import MyLayout from "../layouts/MyLayout.astro";
const pageTitle = "Home Page";
---

<MyLayout title={pageTitle}>
  <h1>{pageTitle}</h1>
  <p>This is the content of the home page.</p>
</MyLayout>